<style>
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

form {
    max-width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3 {
    text-align: center;
    color: #333;
}

.form-label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.form-control {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.btn-primary {
  
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #0056b3;
}

p {
    text-align: center;
    margin-top: 15px;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

</style>
<form action="" method='POST'>
    {% csrf_token %}
    <h3><strong>Login Form</strong></h3>
    <div class="mb-3">
        <label class="form-label">Email Address</label>
        <input class="form-control" name="username" placeholder="Enter email-address">
      </div>

      <div class="mb-3">
        <label class="form-label">Password</label>
        <input class="form-control" type="password" name="password" placeholder="Enter password">
      </div>

      <button class="btn btn-primary" style="width:100%">Login</button>
      
      <p>
        <a href="{%url 'task'}"></a>
      </p>

      

      <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>

</form>